$white: #ffffff;
$black: #000000;

$coal: #353535;

$olivedrab: #606c38;
$darkolive: #283618;
$lightcream: #fefae0;
$sunsetgold: #dda15e;
$copper: #bc6c25;

$stone: #eaeef1;
$pearl: #f7f9fa;
$silver: #e0e3e7;
$cloudy: #b5b9bd;
$granite: #6c7175;
$slate: #3b444c;
$darkslate: #20262d;
$midnight: #001428;
$gray: #d8d8d8;
