.u-txt-f1-light {
    font-family: "Merriweather", serif;
    font-weight: $font-1-light;
    font-style: normal;
}

.u-txt-f1-regular {
    font-family: "Merriweather", serif;
    font-weight: $font-1-regular;
    font-style: normal;
}

.u-txt-f1-bold {
    font-family: "Merriweather", serif;
    font-weight: $font-1-bold;
    font-style: normal;
}

.u-txt-f1-black {
    font-family: "Merriweather", serif;
    font-weight: $font-1-black;
    font-style: normal;
}

.u-txt-f1-light-italic {
    font-family: "Merriweather", serif;
    font-weight: $font-1-light;
    font-style: italic;
}

.u-txt-f1-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: $font-1-regular;
    font-style: italic;
}

.u-txt-f1-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: $font-1-bold;
    font-style: italic;
}

.u-txt-f1-black-italic {
    font-family: "Merriweather", serif;
    font-weight: $font-1-black;
    font-style: italic;
}
