body {
    font-family: $font-2-family;
    font-weight: 400;
    font-style: normal;
    color: $coal;
}

h1 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Mulish", sans-serif;
}

/* .mulish-<uniquifier> {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
